<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Using CSS to style an HTML Form</h3>

<div>
    <h1>{{msg}}</h1>
  <form action="{% url 'update_record' update_data.id %}" method="post">
    {% csrf_token %}
    <label for="id">Product id</label>
    <input type="text" id="id" name="id" placeholder="Your Product id.." value={{update_data.Product_id}}>

    <label for="pname">product name</label>
    <input type="text" id="pname" name="pname" placeholder="Your product name.." value={{update_data.product_name}}>
  
    <input type="submit" value="UPDATE">
  </form>
  <a href="{% url 'records' %}">Show Records</a>
</div>

</body>
</html>